---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Layout from "../../layouts/Layout.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout title={`${SITE_TITLE} — Blog`} description={SITE_DESCRIPTION}>
  <section class="mt-6">
    <ul>
      {
        posts.map((post) => (
          <li class="mb-6">
            <a href={`/blog/${post.slug}/`}>
              <h4 class="title">
                <span class="date font-mono text-primary">
                  <FormattedDate date={post.data.pubDate} />
                </span>
                <span class="ml-2 underline decoration-dotted underline-offset-4 hover:decoration-solid">
                  {post.data.title}
                </span>
              </h4>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
